@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
  }
  input, textarea {
    @apply p-3 text-lg text-white bg-[#018183] placeholder:text-white
  }
  label {
    @apply text-lg pb-2
  }
}

/* width */
    ::-webkit-scrollbar {
    width: 17px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    background: #fff;
    border: 1px solid #1A8B90;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #BE8DE7
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    border: 1px solid #BCE01A;
    }